<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>912237154118-5vq0i7an0ug228hgmm5fglm9b9c50j07.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912237154118-5vq0i7an0ug228hgmm5fglm9b9c50j07</string>
	<key>API_KEY</key>
	<string>AIzaSyCP3ue_zpPrSGDdeqwlsMYnY-GCuJSmYUM</string>
	<key>GCM_SENDER_ID</key>
	<string>912237154118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.exptracker</string>
	<key>PROJECT_ID</key>
	<string>expense-login-cc576</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-login-cc576.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912237154118:ios:abe3712694abe492705f47</string>
</dict>
</plist>